/********************************
CATCH-ALLS, ROOT APPLIED, INITIAL
********************************/
:root {
	font-family: "Avenir", "Helvetica", "Arial", sans-serif;
	box-sizing: border-box;	
	
	/*VARIABLES*/
	--brandingprimary: #00b74f;
		--brandingprimary_tintup: #38D77C;
		--brandingprimary_shadedown1: #009A42;
		--brandingprimary_shadedown2: #008137;
	--brandingsecondary: #ff48b0;
	--bodygray: #3f3f3f;
	--quick_easeout: cubic-bezier(.12,.75,.50,1);
}
* {box-sizing: border-box;}
html {
	height: 100%;
}
body {
	margin: 0;
	max-width: 100%;
	height: 100%;
	padding: 0;

	font-size: 16pt;
}
div#interior {
	margin: auto;
	width: 100%;
	max-width: 1400px;
	height: 100%;

	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 80px 1fr;
}
div#barkit {
	position: fixed;
	width: 100%;
	z-index: 10;

	display: grid;
	grid-template-rows: 80px auto;
	grid-template-columns: 100%;
}
div#barkit.menutoggle {height:100%;}




/*********************
GENERAL TAG FORMATTING
*********************/

/*HEADERS*/
header {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--brandingprimary);
}
header > img:nth-of-type(1) {
	position: absolute;

	right: 15px;
	height: 50px;
	transition: right 0.2s var(--quick_easeout) 0.4s;
}
header > img:nth-of-type(1).menutoggle {
	right:-41px;
	transition: right 0.2s var(--quick_easeout);
}
header > img:nth-of-type(2) {
	position: absolute;

	right: -214px;
	height: 50px;
	transition: right 0.2s var(--quick_easeout);
}
header > img:nth-of-type(2).menutoggle {
	right:15px;
	transition: right 0.2s var(--quick_easeout) 0.4s;
}
div#menutoggler {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	background-color: var(--brandingprimary);
	transition: background-color 0.2s var(--quick_easeout);
}
div#menutoggler:hover {background-color: var(--brandingprimary_tintup);}
div#menutoggler:active {background-color: var(--brandingprimary_shadedown2)}
div#menutoggler > img {
	width: 40px;
	position: relative;
	transition: transform 0.2s var(--quick_easeout);
}
div#menutoggler > img.menutoggle {
	transform: rotate(180deg);
}
nav {
	display: none;
	transition: bottom 0.5s var(--quick_easeout);
	bottom: 120%;

	position: relative;
	z-index: -1;
}
nav.menutoggle {
	transition: bottom 0.5s var(--quick_easeout);
	display: block;
	bottom: 0%;
}
nav ul {
	list-style: none;
	display: grid;
	grid-template-columns: 100%;

	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}
nav li {
	display: block;
	padding: 0;
}
nav li.works {
 	display: grid;
	grid-template-columns: 100%;
}
nav li.works ul {
	display: grid;
}
nav li a {
	padding: 1rem;

	display: block;
	height: 100%;
	background-color: var(--brandingprimary);
	transition: background-color 0.2s var(--quick_easeout);

	color: white;
	text-decoration: none;
}
nav li a span {
	font-size: 12pt;
}
#pghome nav li.home a,
#pgworks nav li.works a,
#pgpassion nav li.passion a,
#pgacademics nav li.academics a,
#pgbusiness nav li.business a,
#pgabout nav li.about a,
#pgcontact nav li.contact a {
	background-color: var(--brandingprimary_shadedown1);
}
#pghome nav li.home a:hover,
#pgworks nav li.works a:hover,
#pgpassion nav li.passion a:hover,
#pgacademics nav li.academics a:hover,
#pgbusiness nav li.business a:hover,
#pgabout nav li.about a:hover,
#pgcontact nav li.contact a:hover,
nav li a:hover {
	background-color: var(--brandingprimary_tintup);
}
nav li li > a {
	padding-left: 2rem;
}
nav div {
	display: none;
}

div.flank {
	display: none;
}

/*INS and DEL*/


/*HORIZONTAL RULE*/


/*TAG SPECIFIC CLASSES*/




/*******************
GENERAL PAGE MATTERS
*******************/

/*BODY AND RELATED CLASSES*/
main {
	grid-row: 2 / 3;
	border-top: 4px solid var(--brandingprimary_shadedown2);
}
#pghome main {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-image: url("../_images/splash1200px.jpg");
	background-size: cover;
	background-position: left;
	color: white;
	text-align: center;
}

/* * * * * * * * * *
SPECIFIC PAGE MATTERS
* * * * * * * * * */
/*LANDING*/
div.legalwrap {
	position: fixed;
	bottom: 0;

	transition: background-color 0.4s var(--quick_easeout);
	background-color: rgba(0, 0, 0, 0);

	width: 100%;
	height: 0;
}
div.legalwrap.legaltoggle {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color 0.4s var(--quick_easeout);
}
div.spacer {
	position: relative;
	height: 100%;
}
div.mobilelegal {
	position: relative;
	bottom: 0;
	transition: transform 0.4s var(--quick_easeout);
	transform: translate(0, -61px);

	display: flex;
	flex-direction: column;
	

	width: 100%;
}
div.mobilelegal.legaltoggle {
	transition: transform 0.4s var(--quick_easeout);
	transform: translate(0,-100%);
}
div.mobilelegal div:first-child {
	margin: auto;
	display: inline;

	padding: 1rem;

	background-color: var(--brandingprimary);
	border-radius: 15px 15px 0 0;
	color: white;
}
div.mobilelegal div:nth-child(2) {
	padding: 1rem;
	background-color: white;

	color: var(--bodygray);
	text-align: left;
}
div.mobilelegal img {
	position: relative;
	transform:rotate(180deg);
	transition: transform 0.4s var(--quick_easeout);
	width: 12px;
}
div.mobilelegal img.legaltoggle {
	transform:rotate(0deg);
	transition: transform 0.4s var(--quick_easeout);
}
div.mobilelegal p {
	color: var(--bodygray);
	font-size: 12pt;
}
div.mobilelegal div p:first-child {margin-top: 0;}
div.mobilelegal div p:last-child {margin-bottom: 0;}




/************
MEDIA QUERIES
************/
@media only screen and (min-width: 600px) and (min-height: 900px) {
div.legalwrap {display: none;}
div#interior {
	position: relative;
	grid-template-columns: 80px 1fr;
	grid-template-rows: auto;
}
div#barkit {
	width: auto;
	grid-template-rows: 170px auto;
	height: 100%;
	border-right: 2px solid var(--brandingprimary_shadedown2);

	background-color: var(--brandingprimary);
}
div#barkit.menutoggle {
	width: 254px;
}
header {
	display: block;
	position: relative;
	height: 100%;
}
header > img:nth-of-type(1) {
	position: absolute;

	left: 20px;
	top: 20px;
	height: 50px;
	transition: left 0.2s var(--quick_easeout) 0.4s;
}
header > img:nth-of-type(1).menutoggle {
	left:-41px;
	transition: left 0.2s var(--quick_easeout);
}
header > img:nth-of-type(2) {
	position: absolute;

	left: -214px;
	top: 20px;
	height: 50px;
	transition: left 0.2s var(--quick_easeout);
}
header > img:nth-of-type(2).menutoggle {
	left:20px;
	transition: left 0.2s var(--quick_easeout) 0.4s;
}
div#menutoggler {
	position: relative;
	transform: translateY(90px);
}
div#menutoggler > img {
	width: 40px;
	position: relative;
	transition: transform 0.2s var(--quick_easeout);
	transform: rotate(270deg);
}
div#menutoggler > img.menutoggle {
	transform: rotate(90deg);
}
nav ul {
	height: auto;
	grid-template-rows: auto;
}
nav li.works {
	grid-template-rows: auto;
}
nav div {
	display: block;
	position: absolute;
	bottom: 0;
	padding: 1rem;

	font-size: 12pt;
	color: var(--brandingprimary_shadedown2);
}
main {
	grid-row: auto;
	grid-column: 2 / 3;
	border-top: none;
}
}


@media only screen and (min-width: 1400px) and (min-height: 900px) {
body {
	display: grid;
	grid-template-columns: 1fr 1400px 1fr;
}

div#interior {
	grid-template-columns: 254px 1fr;
	border-left:4px solid var(--brandingprimary_shadedown2);
	border-right:4px solid var(--brandingprimary_shadedown2);
}
div#barkit {
	grid-template-rows: 90px auto;
	width: 254px;
}
header > img:nth-of-type(1) {
	display: none;
}
header > img:nth-of-type(2) {
	transition: left 0s;
	left:20px;
}
div#menutoggler {
	display: none;
}
nav {
	display: block;
	bottom: 0%;
}

div.flank {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: var(--brandingprimary_shadedown1);
}
div.flank.left {
	grid-column: 1 / 2;
	flex-direction: row-reverse;

	background-image: url(../_images/flankleft5.jpg);
	background-position: center;
}
div.flank.right {
	grid-column: 3 / 4;

	background-image: url(../_images/flankright.jpg);
	background-position: center;
}
div.halftone {
	position: relative;
	width: 100%;
	max-width: 144px;
	height: 100%;

	background-color: var(--brandingprimary_shadedown2);
	mask-image: url(../_images/halftone.png);
}
div.halftone.left {
	transform: rotate(180deg);
}
}