/********************************
CATCH-ALLS, ROOT APPLIED, INITIAL
********************************/
:root {
	font-family: "Avenir", "Helvetica", "Arial", sans-serif;
	box-sizing: border-box;	
	
	/*VARIABLES*/
	--brandingprimary: #00b74f;
		--brandingprimary_tintup: #38D77C;
		--brandingprimary_shadedown1: #009A42;
		--brandingprimary_shadedown2: #008137;
	--brandingsecondary: #ff48b0;
	--bodygray: #3f3f3f;
	--quick_easeout: cubic-bezier(.12,.75,.50,1);
}
html {
	height: 100%;
}
body {
	margin: 0;
	max-width: 100%;
	height: 100%;
	padding: 0;

	font-size: 16pt;
}
div#interior {
	max-width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 80px 1fr;
}
div#barkit {
	position: fixed;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 80px auto;
	grid-template-columns: 100%;
}




/*********************
GENERAL TAG FORMATTING
*********************/

/*HEADERS*/
header {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: var(--brandingprimary);
}
header > img:nth-of-type(1) {
	position: absolute;

	right: 15px;
	height: 50px;
	transition: right 0.2s var(--quick_easeout) 0.4s;
}
header > img:nth-of-type(1).menutoggle {
	right:-41px;
	transition: right 0.2s var(--quick_easeout);
}
header > img:nth-of-type(2) {
	position: absolute;

	right: -214px;
	height: 50px;
	transition: right 0.2s var(--quick_easeout);
}
header > img:nth-of-type(2).menutoggle {
	right:15px;
	transition: right 0.2s var(--quick_easeout) 0.4s;
}
div#menutoggler {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	background-color: var(--brandingprimary);
	transition: background-color 0.2s var(--quick_easeout);
}
div#menutoggler:hover {background-color: var(--brandingprimary_tintup);}
div#menutoggler:active {background-color: var(--brandingprimary_shadedown2)}
div#menutoggler > img {
	width: 40px;
	position: relative;
	transition: transform 0.2s var(--quick_easeout);
}
div#menutoggler > img.menutoggle {
	transform: rotate(180deg);
}
nav {
	position: relative;
	z-index: -1;
	bottom: 120%;
	transition: bottom 0.5s var(--quick_easeout);
}
nav.menutoggle {bottom: 0;}
nav ul {
	list-style: none;
	display: grid;
	grid-template-columns: 100%;

	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}
nav > ul {
	grid-template-rows: repeat(7, 1fr);
}
nav li {
	display: block;
	padding: 0;
}
nav li.works {
 	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: repeat(4, 1fr);
}
nav li.works ul {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}
nav li a {
	padding: 1rem;

	display: block;
	height: 100%;
	background-color: var(--brandingprimary);
	transition: background-color 0.2s var(--quick_easeout);

	color: white;
	text-decoration: none;
}
#pghome nav li.home a,
#pgworks nav li.works a,
#pgpassion nav li.passion a,
#pgacademics nav li.academics a,
#pgbusiness nav li.business a,
#pgabout nav li.about a,
#pgcontact nav li.contact a {
	background-color: var(--brandingprimary_shadedown1);
}
#pghome nav li.home a:hover,
#pgworks nav li.works a:hover,
#pgpassion nav li.passion a:hover,
#pgacademics nav li.academics a:hover,
#pgbusiness nav li.business a:hover,
#pgabout nav li.about a:hover,
#pgcontact nav li.contact a:hover,
nav li a:hover {
	background-color: var(--brandingprimary_tintup);
}
nav li li > a {
	padding-left: 2rem;
}

/*INS and DEL*/


/*HORIZONTAL RULE*/


/*TAG SPECIFIC CLASSES*/




/*******************
GENERAL PAGE MATTERS
*******************/

/*BODY AND RELATED CLASSES*/
main {
	border-top: 4px solid var(--brandingprimary_shadedown2);
}
#pghome main {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background-image: url("../_images/splash1200px.jpg");
	background-size: cover;
	background-position: left;
	color: white;
	text-align: center;
}

/* * * * * * * * * *
SPECIFIC PAGE MATTERS
* * * * * * * * * */
/*LANDING*/
div.legalwrap {
	position: fixed;
	bottom: 0;

	width: 100%;
	height: 0;

	background-color: rgba(0, 0, 0, 0);
	transition: background-color 0.4s var(--quick_easeout);
}
div.legalwrap.legaltoggle {
	height: 100%;
	transition: height 0 linear 0.4s;
	background-color: rgba(0, 0, 0, 0.5);
}
div.mobilelegal {
	position: relative;
	transform: translate(0, -61px);

	display: flex;
	flex-direction: column;
	

	width: 100%;
}
div.mobilelegal.legaltoggle {
	transform: translate(0,-10%);
}
div.mobilelegal div:first-child {
	margin: auto;
	display: inline;

	padding: 1rem;

	background-color: var(--brandingprimary);
	border-radius: 15px 15px 0 0;
	color: white;
}
div.mobilelegal div:nth-child(2) {
	padding: 1rem;
	background-color: white;

	color: var(--bodygray);
	text-align: left;
}
div.mobilelegal img {
	position: relative;
	transform:rotate(180deg);
	width: 12px;
}
div.mobilelegal div p:first-child {margin-top: 0;}
div.mobilelegal div p:last-child {margin-bottom: 0;}